	<div class="container">
			<div class="row defaul-box siga_titulo">
				  <h1 class="center-align"> Flight Reservation Intranet</h1>
			</div>
			<div class="row signup-box">				    
				    <!-- Login form-->
					<form class="signup-form ">
						<h2>Login</h2>
						<div class="section">
						     <div class="divider input-field "></div> 
								<input type="text" name="codigo" placeholder="User" ng-model="$ctrl.user"></input>
								<input type="password" name="password" placeholder="Password" ng-model="$ctrl.password"></input>
								<button class="btn waves-effect waves-light btn-signup" type="submit" ng-click="$ctrl.irNotas()">Enter</button>
						</div>
					</form>
			</div>
	</div>