<div class="row">				
	<div class="row defaul-box siga_titulo">
		  <h1 class="siga center-align"> Airports</h1>
	</div>	  
	<div class="row defaul-box">
					<form class="signup-form ">
						<h2>New Airport</h2>
						<div class="section">
							<input type="text" name="codigo" placeholder="Code" ng-model="$ctrl.code"></input>
							<input type="text" name="name" placeholder="Name" ng-model="$ctrl.name"></input>
							<input type="text" name="city" placeholder="City" ng-model="$ctrl.city"></input>
							<input type="text" name="adress" placeholder="Adress" ng-model="$ctrl.adress"></input>
							<input type="text" name="country" placeholder="Country" ng-model="$ctrl.country"></input>
							<button class="btn waves-effect waves-light btn-signup" type="submit" ng-click="$ctrl.createAirport()">Create Airport</button>
						</div>
					</form>		

	</div>
</div>		